{% extends "layout.jinja2" %}

{% block title %}
Publishers
{% endblock %}

{% block content %}

<section class="cluster">

    <h2 class="section-title">
        Publisher Management
    </h2>


    <form
        method="POST"
        action="/publishers/save"
        class="publisher-form">


        <input
            type="hidden"
            name="id">


        <label>
            Name
        </label>

        <input
            name="name"
            placeholder="Publisher name"
            required>


        <label>
            RSS URL
        </label>

        <input
            name="rss_url"
            placeholder="RSS feed URL"
            required>


        <label>
            Favicon URL
        </label>

        <input
            name="favicon_url"
            placeholder="Favicon URL">


        <button type="submit">
            Add Publisher
        </button>


    </form>

</section>


<section class="cluster">

    <h2 class="section-title">
        Existing Publishers
    </h2>


    {% for p in publishers %}


    <article class="publisher-entry">


        <form
            method="POST"
            action="/publishers/save">


            <input
                type="hidden"
                name="id"
                value="{{ p.id }}">


            <div class="publisher-fields">


                <input
                    name="name"
                    value="{{ p.name }}"
                    required>


                <input
                    name="rss_url"
                    value="{{ p.rss_url }}"
                    required>


                <input
                    name="favicon_url"
                    value="{{ p.favicon_url or '' }}">


            </div>


            <div class="publisher-actions">


                <button type="submit">
                    Update
                </button>


            </div>


        </form>


        <form
            method="POST"
            action="/publishers/delete/{{ p.id }}">


            <button
                class="delete-button"
                type="submit">

                Delete

            </button>


        </form>


    </article>


    {% endfor %}


</section>


{% endblock %}